body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    box-sizing: border-box;
}

/* * {
    outline: 1px solid red;
} */
section {
    border-bottom: 10px solid grey;
}


@media (min-width:990px) {

    .bg-img {
        width: 100%;
        height: 100vh;
        transform: scale(1.5);


    }

    .bg {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);

        width: 100%;
        height: 100vh;
        overflow: hidden;

    }



    .tint {
        background-color: rgb(0 0 0 / 60%);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    .nav {
        position: absolute;
        /* border: 2px solid red; */
        width: 990px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -50%);


    }

    .logo {
        height: 150px;
        width: 250px;
        margin-left: 25px;
    }

    .lang-btn {
        padding: 5px 23px;
        font-size: 18px;
        background-color: rgba(43, 41, 41, 0.379);
        color: white;
        border: none;
        border: 1px solid gray;
        border-radius: 2px;
        margin-right: 17px;
    }



    .Sign-btn {
        background-color: red;
        padding: 8px 15px;
        font-size: 15px;
        color: white;
        border: none;
        border-radius: 6px;
    }

    .content-first {
        /* border: 2px solid red; */
        /* margin: auto; */
        position: absolute;
        color: white;
        text-align: center;
        width: 800px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
    }

    .heading {
        font-size: 60px;

    }

    .sub-heading {
        font-size: 25px;
        margin-top: -35px;
    }

    .subsub-heading {
        font-size: 25px;
    }

    .input-email {
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 170px;
        padding-left: 15px;
        background-color: rgba(16, 15, 15, 0.201);
        border: 1px solid lightgray;
        font-size: 18px;
        border-radius: 5px;
        color: white;
    }

    .start-btn {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 50px;
        font-size: 23px;
        padding-left: 30px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
    }

    .two-btn {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .get-start {
        display: flex;
        position: relative;

    }

    .get-start svg {
        position: absolute;
        top: 13px;
        /* bottom: 0; */
        right: 12px;
    }

    .leftside {
        color: white;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        /* height: 500px; */
        width: 990px;
        margin: 100px auto;

        /* margin: 20px auto; */
    }

    .left-heading {
        font-size: 60px;
    }

    .left-subheading {
        font-size: 20px;
        margin-top: -30px;
    }

    .headings {
        /* border: 2px solid red; */
        margin-top: -70px;
        width: 500px;
        margin-left: 160px;
    }

    .tv {
        position: relative;
        /* border: 2px solid green; */
        width: 100%;
    }

    .video {
        position: absolute;
        object-fit: contain;
        width: 350px;
        height: 205px;
        margin-top: 70px;
        margin-bottom: 10px;
        margin-left: 60px;


    }

    .right {
        width: 80%;
        color: white;
        /* border: 2px solid orange; */
    }

    .play-video {
        /* margin-top: -70px; */
        /* border: 2px solid red; */
        /* height: 450px; */
        width: 100%;
        position: relative;
        display: block;
        /* padding: 90px; */
    }


    .rightside-heading {
        color: white;
        /* border: 2px solid red; */
        width: 600px;

    }

    .mobile-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        /* height: 600px; */
        width: 990px;
        /* border: 2px solid red; */
        gap: 20px;
        margin: 100px auto;


    }

    .right-heading {
        font-size: 50px;
    }

    .right-subheading {
        font-size: 30px;
    }

    .download-box {
        border: 2px solid gray;
        color: white;
        position: absolute;
        top: 20px;
        left: -20px;
        height: 80px;
        width: 300px;
        display: flex;
        padding: 10px;
        gap: 15px;
        align-items: center;
        justify-content: center;
        background-color: black;
        border-radius: 8px;
        margin-top: 350px;
        margin-left: 160px;

    }

    .poster-img {
        height: 80px;
    }

    .gif {
        height: 80px;

    }

    .highlight {
        color: blue;
    }

    .girl-img {
        /* border: 2px solid green; */
        height: 500px;
        width: 600px;

    }

    .height {
        /* border: 2px solid hotpink; */
        height: 600px;
        width: 600px;
        position: relative;

    }

    .fourth-slide {
        color: white;
        width: 990px;

    }

    .left-content {
        /* border: 2px solid red; */
        width: 600px;
        height: 200px;
    }

    .left-title {
        font-size: 50px;
    }

    .left-subtitle {
        font-size: 25px;
        margin-top: -30px;
    }

    .video2 {
        position: absolute;
        width: 330px;
        margin-left: 100px;
        margin-top: 50px;

    }

    .tv2 {
        position: absolute;
        
    }

    .image-video {
        /* border: 2px solid green; */
        width: 600px;
        height: 400px;
    }

    .fourth-slide {
        /* border: 2px solid red; */
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin: 100px auto;

    }


    .fifth-slide {
        /* border: 2px solid hotpink; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        width: 990px;
        margin: 100px auto;



    }

.left-img{
    width: 100%;
}

    .kids-img{
        /* border: 2px solid green; */
        width: 50%;
        
    }


    .right-content {
        color: white;
        width: 80%;
        /* border: 2px solid red; */
    }

    .right-title {
        font-size: 48px;
        /* border: 2px solid green; */

    }

    .right-subtitle {
        font-size: 24px;
        margin-top: -30px;
        /* width: 600px; */
        /* border: 2px solid orange; */

    }

    .faq-heading {
        color: white;
        text-align: center;
        font-size: 50px;
    }

    .faq-ques {
        /* border: 2px solid red; */
        width: 990px;
        margin: 10px auto;

    }

    .faq {
        height: 860px;
        width: 990px;
        margin: 100px auto;


    }



    .btn-flex {
        /* border: 2px solid orange; */
        width: 990px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        font-size: 25px;
        background-color: rgb(45, 45, 45);
        color: white;
        border: none;
        cursor: pointer;
        transition: .3s;
    }

    .btn-flex:hover {
        background-color: rgba(134, 130, 130, 0.536);
    }

    .faq-subheading {
        text-align: center;
        font-size: 20px;
        color: white;
        margin-top: 60px;
    }


    .footer {
        /* border: 2px solid red; */
        height: 400px;
        width: 990px;
        margin: 100px auto;

    }

    .footer-content {
        color: rgba(255, 255, 255, 0.7);
        /* border: 2px solid green; */
        height: 300px;
        width: 990px;
        margin: 70px auto;
        font-size: 18px;

    }

    .footer-content a {
        color: rgba(255, 255, 255, 0.7);
    }

    .links {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
    }

    .links a {
        color: rgba(255, 255, 255, 0.7);
        font-size: 18px;
    }

    .footer-btn {
        margin: 20px 0px;
    }

}




















/* media query for meadium screens */

@media (min-width:586px) and (max-width:990px){

    .bg-img {
        width: 100%;
        height: 100vh;
        transform: scale(1.5);


    }

    .bg {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);

        width: 100%;
        height: 100vh;
        overflow: hidden;

    }



    .tint {
        background-color: rgb(0 0 0 / 60%);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    .nav {
        position: absolute;
        /* border: 2px solid red; */
        width: 100vw;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -50%);


    }

    .logo {
        height: 150px;
        width: 250px;
        margin-left: 25px;
    }

    .lang-btn {
        padding: 5px 23px;
        font-size: 18px;
        background-color: rgba(43, 41, 41, 0.379);
        color: white;
        border: none;
        border: 1px solid gray;
        border-radius: 2px;
        margin-right: 17px;
    }



    .Sign-btn {
        background-color: red;
        padding: 8px 15px;
        font-size: 15px;
        color: white;
        border: none;
        border-radius: 6px;
    }

    .content-first {
        /* border: 2px solid red; */
        /* margin: auto; */
        position: absolute;
        color: white;
        text-align: center;
        /* width: 800px; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
    }

    .heading {
        font-size: 5vmax;

    }

    .sub-heading {
        font-size: 25px;
        /* margin-top: -35px; */
    }

    .subsub-heading {
        font-size: 25px;
    }

    .input-email {
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 100px;
        padding-left: 15px;
        background-color: rgba(16, 15, 15, 0.201);
        border: 1px solid lightgray;
        font-size: 18px;
        border-radius: 5px;
        color: white;
    }

    .start-btn {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 50px;
        font-size: 16px;
        padding-left: 30px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
    }

    .two-btn {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .get-start {
        display: flex;
        position: relative;

    }

    .get-start svg {
        position: absolute;
        top: 13px;
        /* bottom: 0; */
        right: 12px;
    }

    .leftside {
        color: white;
        /* border: 2px solid red; */
        /* text-align: center; */
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px; */
        /* height: 500px; */
        /* width: 990px; */
        margin: 100px auto;

        /* margin: 20px auto; */
    }

    .left-heading {
        font-size: 60px;
    }

    .left-subheading {
        font-size: 20px;
        margin-top: -30px;
    }

    .headings {
        /* border: 2px solid red; */
        width: 80vw;
        margin:auto;
        text-align: center;
        /* margin-top: -70px;
        width: 500p;
        margin-left: 160px; */
    }

    .tv {
        position: relative;
        /* border: 2px solid green; */
        width: 100%;
    }

    .video {
        position: absolute;
        object-fit: contain;
        width: 80%;
        height: 60%;
        margin-top: 80px;
        margin-bottom: 10px;
        margin-left: 60px;


    }

    .right {
        /* width: 80%; */
        color: white;
        width: 80vw;
        margin:auto;
        text-align: center;
        /* border: 2px solid orange; */
    }

    .play-video {
        /* margin-top: -70px; */
        /* border: 2px solid red; */
        /* height: 450px; */
        width: 100%;
        position: relative;
        display: block;
        /* padding: 90px; */
    }


    .rightside-heading {
        color: white;
        /* border: 2px solid red; */
        width: 600px;

    }

    .mobile-slide {
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        /* height: 600px; */
        /* width: 990px; */
        /* border: 2px solid red; */
        gap: 20px;
        margin: 100px auto;


    }

    .girl-div{
        width: 100%;
    }

    .right-heading {
        font-size: 32px;
    }

    .right-subheading {
        font-size: 22px;
    }

    .download-box {
        border: 2px solid gray;
        color: white;
        position: absolute;
        top: 20px;
        left: 20px;
        height: 80px;
        width: 300px;
        display: flex;
        padding: 10px;
        gap: 15px;
        align-items: center;
        justify-content: center;
        background-color: black;
        border-radius: 8px;
        margin-top: 350px;
        margin-left: 160px;

    }

    .poster-img {
        height: 80px;
    }

    .gif {
        height: 80px;

    }

    .highlight {
        color: blue;
    }

    .girl-img {
        /* border: 2px solid green; */
        height: 500px;
        width: 100%;

    }

    .height {
        /* border: 2px solid hotpink; */
        /* height: 600px; */
        /* width: 600px; */
        position: relative;

    }

    .fourth-slide {
        color: white;
        /* width: 990px; */

    }

    .left-content {
        /* border: 2px solid red; */
        width: 600px;
        height: 200px;
    }

    .left-title {
        font-size: 35px;
    }

    .left-subtitle {
        font-size: 18px;
        /* margin-top: -30px; */
    }

    .video2 {
        position: absolute;
        /* width: 370px; */
        object-fit: contain;
        height: 40%;
        width: 60%;
        margin-top: 70px;
        margin-left: 130px;
        margin-top: 50px;

    }

    .tv2 {
        position: absolute;
        
    }

    .image-video {
        /* border: 2px solid green; */
        width: 500px;
        height: 300px;
    }

    .fourth-slide {
        /* border: 2px solid red; */
        text-align: center;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 100px auto;

    }


    .fifth-slide {
        /* border: 2px solid hotpink; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
        gap: 60px;
        /* width: 990px; */
        margin: 100px auto;



    }

.left-img{
    width: 100%;
}

    .kids-img{
        /* border: 2px solid green; */
        width: 50%;
        
    }


    .right-content {
        color: white;
        width: 80%;
        /* border: 2px solid red; */
    }

    .right-title {
        font-size: 37px;
        /* border: 2px solid green; */

    }

    .right-subtitle {
        font-size: 20px;
        /* margin-top: -30px; */
        /* width: 600px; */
        /* border: 2px solid orange; */

    }

    .faq-heading {
        color: white;
        text-align: center;
        font-size: 30px;
    }

    .faq-ques {
        /* border: 2px solid red; */
        /* width: 990px; */
        width: 86vw;
        margin: 10px auto;

    }

    .faq {
        /* height: 860px; */
        /* width: 990px; */
        margin: 100px auto;


    }



    .btn-flex {
        /* border: 2px solid orange; */
        width: 86vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        font-size: 18px;
        background-color: rgb(45, 45, 45);
        color: white;
        border: none;
        cursor: pointer;
        transition: .3s;
    }

    .btn-flex:hover {
        background-color: rgba(134, 130, 130, 0.536);
        cursor: pointer;
    }

    .faq-subheading {
        text-align: center;
        font-size: 20px;
        color: white;
        margin-top: 60px;
    }

/* 
    .footer {
        border: 2px solid red;
        height: 600px;
        width: 990px;
        margin: 50px auto;

    } */

    .footer-content {
        color: rgba(255, 255, 255, 0.7);
        /* border: 2px solid green; */
        padding: 20px;
        /* height: 300px; */
        /* width: 990px; */
        margin: 70px auto;
        font-size: 20px;

    }

    .footer-content a {
        color: rgba(255, 255, 255, 0.7);
    }

    .links {
        display: grid;
        grid-template-columns: auto auto;
        gap: 15px;
    }

    .links a {
        color: rgba(255, 255, 255, 0.7);
        font-size: 18px;
    }

    .footer-btn {
        margin: 20px 0px;
    }

}



















/* media query for smaller screens */
@media (max-width:586px){

    .bg-img {
        width: 100%;
        height: 100vh;
        /* transform: scale(1); */


    }

    .bg {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);

        width: 100%;
        height: 100vh;
        overflow: hidden;

    }



    .tint {
        background-color: rgb(0 0 0 / 60%);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    .nav {
        position: absolute;
        /* border: 2px solid red; */
        width: 100vw;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -50%);


    }

    .logo {
        height: 150px;
        width: 150px;
        margin-left: 25px;
    }

    .lang-btn {
        padding: 5px 10px;
        font-size: 15px;
        background-color: rgba(43, 41, 41, 0.379);
        color: white;
        border: none;
        border: 1px solid gray;
        border-radius: 2px;
        margin-right: 17px;
    }



    .Sign-btn {
        background-color: red;
        padding: 5px 10px;
        font-size: 15px;
        color: white;
        border: none;
        border-radius: 6px;
    }

    .content-first {
        /* border: 2px solid red; */
        /* margin: auto; */
        position: absolute;
        color: white;
        text-align: center;
        width: 88vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
    }

    .heading {
        font-size: 5vmax;

    }

    .sub-heading {
        font-size: 20px;
        /* margin-top: -35px; */
    }

    .subsub-heading {
        font-size: 20px;
    }

    .input-email {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 30px;
        padding-left: 10px;
        background-color: rgba(16, 15, 15, 0.201);
        border: 1px solid lightgray;
        font-size: 18px;
        border-radius: 5px;
        color: white;
    }

    .start-btn {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 25px;
        font-size: 15px;
        padding-left: 10px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
    }

    .two-btn {
        display: flex;
        flex-wrap: wrap;
        /* width: 80vw; */
        /* flex-direction: column; */
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .get-start {
        display: flex;
        position: relative;

    }

    .get-start svg {
        position: absolute;
        top: 3px;
        bottom: 0;
        right: 0;
    }

    .leftside {
        color: white;
        margin: 100px auto;

        /* margin: 20px auto; */
    }

    .left-heading {
        font-size: 40px;
    }

    .left-subheading {
        font-size: 15px;
    }

    .headings {
        /* border: 2px solid red; */
        width: 80vw;
        margin:auto;
        text-align: center;
        /* margin-top: -70px;
        width: 500p;
        margin-left: 160px; */
    }

    .tv {
        position: relative;
        /* border: 2px solid green; */
        width: 100%;
    }

    .video {
        position: absolute;
        object-fit: contain;
        width: 72%;
        height: 53%;
        margin-top: 60px;
        margin-bottom: 10px;
        margin-left: 50px;


    }

    .right {
        /* width: 80%; */
        color: white;
        width: 80vw;
        margin:auto;
        text-align: center;
        /* border: 2px solid orange; */
    }

    .play-video {
        /* margin-top: -70px; */
        /* border: 2px solid red; */
        /* height: 450px; */
        width: 70vw;
        position: relative;
        display: block;
        /* padding: 90px; */
    }


    .rightside-heading {
        color: white;
        /* border: 2px solid red; */
        width: 70vw;

    }

    .mobile-slide {
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        /* height: 600px; */
        /* width: 990px; */
        /* border: 2px solid red; */
        gap: 20px;
        margin: 100px auto;


    }

    .girl-div{
        width: 100%;
    }

    .right-heading {
        font-size: 20px;
    }

    .right-subheading {
        font-size: 15px;
    }

    .download-box {
        border: 2px solid gray;
        color: white;
        position: absolute;
        top: 30px;
        left: 10px;
        height: 50px;
        width: 70vw;
        display: flex;
        padding: 10px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        background-color: black;
        border-radius: 8px;
        margin-top: 170px;
        margin-left: 10px;

    }

    .poster-img {
        height: 50px;
    }

    .gif {
        height: 50px;

    }

    .highlight {
        color: blue;
    }

    .girl-img {
        /* border: 2px solid green; */
        height: 300px;
        width: 100%;

    }

    .height {
        /* border: 2px solid hotpink; */
        /* height: 600px; */
        /* width: 600px; */
        position: relative;

    }

    .fourth-slide {
        color: white;
        /* width: 990px; */

    }

    .left-content {
        /* border: 2px solid red; */
        width: 70vw;
        /* height: 200px; */
    }

    .left-title {
        font-size: 20px;
    }

    .left-subtitle {
        font-size: 13px;
        /* margin-top: -30px; */
    }

    .video2 {
        position: absolute;
        object-fit: contain;
        /* height: 40%; */
        width: 60%;
        margin-left: 80px;
        margin-top: 40px;

    }

    .tv2 {
        position: relative;
        width: 100%;
        
    }

    .image-video {
        /* border: 2px solid green; */
        width: 600px;
        height: 400px;
    }

    .fourth-slide {
        /* border: 2px solid red; */
        text-align: center;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 100px auto;

    }


    .fifth-slide {
        /* border: 2px solid hotpink; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
        gap: 60px;
        /* width: 990px; */
        margin: 100px auto;



    }

.left-img{
    width: 100%;
}

    .kids-img{
        /* border: 2px solid green; */
        width: 50%;
        
    }


    .right-content {
        color: white;
        width: 80%;
        /* border: 2px solid red; */
    }

    .right-title {
        font-size: 37px;
        /* border: 2px solid green; */

    }

    .right-subtitle {
        font-size: 20px;
        /* margin-top: -30px; */
        /* width: 600px; */
        /* border: 2px solid orange; */

    }

    .faq-heading {
        color: white;
        text-align: center;
        font-size: 30px;
    }

    .faq-ques {
        /* border: 2px solid red; */
        /* width: 990px; */
        width: 86vw;
        margin: 10px auto;

    }

    .faq {
        /* height: 860px; */
        /* width: 990px; */
        margin: 100px auto;


    }



    .btn-flex {
        /* border: 2px solid orange; */
        width: 86vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        font-size: 18px;
        background-color: rgb(45, 45, 45);
        color: white;
        border: none;
        cursor: pointer;
        transition: .3s;
    }

    .btn-flex:hover {
        background-color: rgba(134, 130, 130, 0.536);
        cursor: pointer;
    }

    .faq-subheading {
        text-align: center;
        font-size: 20px;
        color: white;
        margin-top: 60px;
    }


    /* .footer {
        border: 2px solid red;
        height: 600px;
        width: 990px;
        margin: 50px auto;

    } */

    .footer-content {
        color: rgba(255, 255, 255, 0.7);
        /* border: 2px solid green; */
        padding: 20px;
        /* height: 300px; */
        /* width: 990px; */
        margin: 70px auto;
        font-size: 20px;

    }

    .footer-content a {
        color: rgba(255, 255, 255, 0.7);
    }

    .links {
        display: grid;
        grid-template-columns: auto auto;
        gap: 15px;
    }

    .links a {
        color: rgba(255, 255, 255, 0.7);
        font-size: 18px;
    }

    .footer-btn {
        margin: 20px 0px;
    }

}